{{ $CurrentContainer := where $ "ID" .Docker.CurrentContainerID | first }}

defaults
  mode http
  balance first
  timeout connect 3000ms
  timeout client 5m
  timeout server 5m
  option redispatch
  maxconn 5000
  retries 3

frontend stats
  bind *:9000
  stats enable
  stats hide-version
  stats uri /

{{ $env := .Env }}
{{ $sortedServices := sortObjectsByKeysDesc $ ".Labels.haproxy_priority" }}
{{ $servicesByLabel := groupByLabel $ "com.docker.compose.service" }}

frontend proxy
  bind *:80

{{ range $sortedServices }}
{{ with $acls := index .Labels "haproxy_acls" }}
{{ $acls }}
{{ end }}
{{ end }}

{{ $default := index $env "default_backend" }}
{{ if $default }}
{{ with index $servicesByLabel $default }}
  default_backend {{ $default }}
{{ end }}
{{ end }}

{{ range $c := $sortedServices }}
{{ $service := index $c.Labels "com.docker.compose.service" }}
{{ if not (or (index $c.Labels "haproxy_acls") (eq $service $default)) }}{{ continue }}{{ end }}
{{ $port := (or (index $c.Labels "haproxy_port") (first $c.Addresses).Port) }}

{{ range $knownNetwork := $CurrentContainer.Networks }}
{{ range $containerNetwork := $c.Networks }}
{{ if eq $knownNetwork.Name $containerNetwork.Name }}
backend {{ $service }}
  {{ index $c.Labels "haproxy_backend_config" }}
  server {{ $service }}_docker {{ $containerNetwork.IP }}:{{ $port }} check
{{ break }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
